{{> partials/head}}
    <div class="row h-100" >
        <img src='http://10.0.0.9/image/index?time=0' height="90%" width="100%" id="img">
        <nav class="navbar navbar-dark bg-dark w-100">
            <div class="btn-group">
                <!-- <label class="btn btn-success"> -->
                    <button class='btn btn-success' onmousedown="On()" onmouseup="Off()">Open Door</button>
                <!-- </label> -->
                <!-- <label class="btn btn-danger"> -->
                    <button class='btn btn-danger' onclick="Off()">Close</button>
                <!-- </label> -->
              </div>
        </nav>
    </div>
{{> partials/foot}}